.category {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: $zindex-category;
  color: #fff;
  &__label {
    display: block;
  }
  &__text {
    display: inline-block;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
