.category {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: #fff;
  background-color: rgba($color-body, .3);
  z-index: $zindex-category;
  &__block {
    margin-top: 10px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__heading {
    font-size: 18px;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &__text {
    display: inline-block;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
