.introjs {
  &-button {
    color: #000 !important;
    text-shadow: none;
  }
  &-disabled {
    color: #fff !important;
    &:hover {
      color: #fff !important;
    }
  }
  &-tooltiptext {
    font-size: 15px;
  }
}
