.timeline {
  $font-size: 30px;
  &__ruledLines {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
    white-space: nowrap;
    z-index: $zindex-ruledLine
  }
  &__ruledLine {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    height: 100%;
    border-left: 1px dashed rgba(255, 255, 255, .3);
  }
  &__years {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-body, .7);
    font-size: 0;
    white-space: nowrap;
    z-index: $zindex-year;
  }
  &__year {
    display: inline-block;
    white-space: nowrap;
  }
  &__yearNum {
    display:  inline-block;
    font-size: $font-size;
    font-family: 'Rozha One', serif;
    color: rgba(255, 255, 255, .8);
  }
  &__events {
    position: relative;
    z-index: $zindex-event;
    margin-top: $font-size + 10px;
  }
  &__event {
    position: absolute;
    white-space: nowrap;
  }
}
