.timeline {
  &__years {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    white-space: nowrap;
    z-index: $zindex-year;
  }
  &__year {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    height: 100vh;
    border-left: 1px dashed #000;
  }
  &__yearNum {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 50px;
    font-family: 'Rozha One', serif;
    &--hundred {
      // bottom: 40px;
      // font-size: 80px;
    }
  }
  &__events {
    position: relative;
    z-index: $zindex-event;
  }
  &__event {
    position: absolute;
    white-space: nowrap;
  }
}
