doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title timeline
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='author', name='author')
    meta(content='description', name='description')
    meta(content='keywords', name='keywords')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='telephone=no', name='format-detection')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', media='all')
    link(href='https://fonts.googleapis.com/css?family=Rozha+One' rel='stylesheet' type='text/css')
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    #timeline.timeline
      #timelineYears.timeline__years
      #timelineEvents.timeline__events
      #timelineController.timeline__controller.controller
        ul
          - menus = {}
          - menus[1] = {id: 'Plus', class: 'plus'}
          - menus[2] = {id: 'Minus', class: 'minus'}
          each menu, i in menus
            li
              i.controller__icon(id="controller#{menu.id}" class="fa fa-search-#{menu.class}")
      #timelineCategory.timeline__category.category
        .category__order#categoryOrder
          select
            option(value="and") and
            option(value="or") or

    #timelineLightbox.lightbox
      #lightboxInner.lightbox__inner
      #lightboxClose.lightbox__close

    script(type="text/template" id="event-template")
      .timeline__event.event(class!="<%= klass %>" style!="left: <%= left %>" data-id!="<%= id %>")
        span.event__time(style!="width: <%= timeWidth %>")
        span.event__period <%= period %>
        span.event__text <%= text %>

    script(type="text/template" id="category-template")
      label
        input(type="checkbox" value!="<%= value %>")
        span.category__text <%= value %>

    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/lodash/lodash.js')
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/script.js')
    // endbuild
