doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title timeline
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='author', name='author')
    meta(content='description', name='description')
    meta(content='keywords', name='keywords')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='telephone=no', name='format-detection')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', media='all')
    link(href='https://fonts.googleapis.com/css?family=Rozha+One' rel='stylesheet' type='text/css')
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='../bower_components/intro.js/introjs.css')
    link(rel='stylesheet', href='../bower_components/intro.js/themes/introjs-dark.css')
    // endbower
    // endbuild
    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    #timeline.timeline
      #timelineRuledLines.timeline__ruledLines
      #timelineYears.timeline__years
      #timelineEvents.timeline__events
      #timelineController.timeline__controller.controller
        ul
          - menus = {}
          - menus[1] = {id: 'Plus', class: 'plus', title: 'zoom in'}
          - menus[2] = {id: 'Minus', class: 'minus', title: 'zoom out'}
          each menu, i in menus
            li
              i.controller__icon(id="controller#{menu.id}" class="fa fa-search-#{menu.class}" title="#{menu.title}")
      #timelineCategory.timeline__category.category
        .category__form#sortOrder
          p.category__heading Sort Order
          select.category__select
            option(value="and") and
            option(value="or") or
        .category__form#arrangeOrder
          p.category__heading Arrange Order
          select.category__select
            option(value="masonry") marsonry
            option(value="waterfall") waterfall
        span#intro.category__intro 使い方を見る
        #category

    #timelineLightbox.lightbox
      #lightboxInner.lightbox__inner
      #lightboxClose.lightbox__close

    script(type="text/template" id="ruledLine-template")
      .timeline__ruledLine(style!="width: <%= width %>")

    script(type="text/template" id="year-template")
      .timeline__year(style!="width: <%= width %>")
        span.timeline__yearNum <%= num %>

    script(type="text/template" id="event-template")
      .timeline__event.event(title!="<%= period %> <%= text %>" style!="left: <%= left %>" data-wikipedia!="<%= wikipedia %>" data-category!="<%= category %>" data-start-year!="<%= startYear %>" data-end-year!="<%= endYear %>")
        span.event__time(style!="width: <%= timeWidth %>")
        span.event__period <%= period %>
        span.event__text <%= text %>

    script(type="text/template" id="category-template")
      .category__block
        p.category__heading <%= heading %>
        <% _.forEach(categories, function (category) { %>
        label.category__label
          input(type="checkbox" value!="<%= category %>")
          span.category__text <%= category %>
        <% }); %>

    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/lodash/lodash.js')
    script(src='../bower_components/intro.js/intro.js')
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/script.js')
    script(src='scripts/intro.js')
    // endbuild
